* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	user-select: none;
}

a:hover {
	cursor: pointer;
}

body, html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	background: black;
	color: white;
	flex-shrink: 0;
}

nav .logo {
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	z-index: 5;
}

nav .list {
	transition: .5s;
}

nav .list a {
	color: white;
	margin-left: 16px;
}

.menu-toggle {
	display: none;
 	font-size: 1.5rem;
  	background: none;
  	border: none;
  	color: white;
  	cursor: pointer;
}

#hero {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 32px;
}

#hero .title, .desc, .new {
	margin-top: 16px;
	text-align: center;
}

#hero .articles {
	width: 100%;
	height: 100%;
}

.articles h1 {
	margin-bottom: 16px;
}

.articles span {
	width: 100%;
}

.articles span .baru {
/*	color: black;*/
/*	border: 1px solid black;*/
	border-radius: 5px;
/*	padding: 8px;*/
	font-weight: bold;
/*	box-shadow: 0 0 8px rgba(0, 0, 0, .4);*/
	margin-bottom: 16px;
	min-width: 100%;
}

.articles .judul {
	margin-top: 16px;
	margin-bottom: 8px;
}

.articles .list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.articles .list a {
	margin-left: 8px;
	padding-left: 16px;
	border-left: 2px solid black;
	line-height: 1.4em;
}

.articles .baru span {
	padding: 4px 8px;
	background: black;
	color: white;
	margin-right: 4px;
	border-radius: 8px;
}



/*#hero * {
	margin-top: 16px;
	text-align: center;
}*/

.new {
	margin-top: 16px;
	background: black;
	padding: 12px;
	border-radius: 32px;
}

.new .badge {
	background: white;
	padding: 4px 8px;
	border-radius: 16px;
	color: black;
	font-weight: bold;
	box-shadow: 
		0px 0px 8px rgba(255, 255, 255, .4),
		0px 0px 8px rgba(255, 255, 255, .2);
	animation: glow 2s infinite ease-in-out;
}

@keyframes glow {
	0% {
		box-shadow: 
			0px 0px 8px rgba(255, 255, 255, .6),
			0px 0px 8px rgba(255, 255, 255, .4);
	}
	50% {
		box-shadow: 
			0px 0px 8px rgba(255, 255, 255, .8),
			0px 0px 8px rgba(255, 255, 255, .6);
	}
	100% {
		box-shadow:
			0px 0px 8px rgba(255, 255, 255, .6),
			0px 0px 8px rgba(255, 255, 255, .4);
	}
}

.new .project {
	color: white;
/*	font-weight: bold;*/
}

footer {
	padding: 16px;
	background: black;
	color: white;
	text-align: center;
	font-size: .9em;
}

@media (max-width: 468px) {
	.menu-toggle {
		display: block;
	}

	nav .list{
		position: fixed;
		bottom: -100%;
		left: 0px;
		right: 0px;
		padding: 32px;
		background: black;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	}

	nav .list.show {
		bottom: 0px;
	}
}